* {
	  -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding:0px;
	margin:0px
}

body {
	background-image: url("images/bg01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
	height: 100%;
	width: 100%;
	overflow: auto; 
}

header {
	background:hsla(240, 0%, 50%, 0.7);
	color: white;
	margin: 3%;
	border-radius: 5px;
	padding: 1%;
}

/*選單*/

.menu {
	height: 50px;
	width: 100%;
	background-image: -webkit-linear-gradient(#fff, #2d2d2d);
	background-image: -o-linear-gradient(#fff, #2d2d2d);
	background-image: linear-gradient(#666, #2d2d2d);
}

	.menu li:first-child { 
		margin-left: 5px;
	}

.clear { 
	clear: both;
}

div > ul {
	height: 100%;
	background-image: -webkit-linear-gradient(#fff, #2d2d2d);
	background-image: -o-linear-gradient(#fff, #2d2d2d);
	background-image: linear-gradient(#666, #2d2d2d);
	list-style-type: none;
}

	div > ul > li {
		background-image: -webkit-linear-gradient(#fff, #2d2d2d);
		background-image: -o-linear-gradient(#fff, #2d2d2d);
		background-image: linear-gradient(#666, #2d2d2d);
		display: inline-block;
		float: left;
		height: 100%;
	}

.menu a {
	padding-top: 15px;
	height: 100%;
	display: block;
	padding: 10px;
	color: #ddd;
	font-size: 90%;
	text-decoration: none;
}

	.menu a:hover{
		transition: 0.2s;
		color: white;
		background:#3d3d3d;
		color:#ddd;
		border-top:2px solid #fff480;
	}
		@media screen and (max-width: 480px) {
			
		}

/*首頁*/
.content {
	overflow: auto;
	margin: 0 15% 3% 15%;
}

.main {
	display: inline-block;
	background: rgba(0%,20%,30%,0.6);
	color: white;
 	width: 14rem;
  	height: 10rem;
	margin: 8% 4% 8% 4%;
	font-size: 1.5rem;
	font-weight: bold;
	padding-top: 6%;
	padding-left: 6%;
}
 
.back {
	background: rgba(0%,20%,30%,0.6);
	color: white;
 	width: 20%;
  	height: 20%;
	margin: 5% 5% 10% 5%;
	font-size: 20px;
	font-weight: bold;
}

#intro1:hover, #intro2:hover , #intro3:hover , .back:hover{
	transition: 0.5s;
	background: rgba(0%,20%,20%,0.4);
	box-shadow: 3px 3px 5px #333;
}

/*back*/

.back {
	text-align: center;
}

.center > a > section {
	padding: 15px;
	margin: 0 auto;
	text-align: center;
}

	@media screen and (max-width: 480px) {

		.main {
		 	width: 100%;
		 	display: block;
		 	margin: 3% 0;
		 	padding: 1em;
		 	text-align: center;
		}

	}

/*介紹*/

#web ,#c ,#rpg ,#funintro ,#usefulintro ,#infors ,#videolist{
	padding: 1%;
	color: white;
	margin: 0 15% 3% 15%;
	background: rgba(0%,10%,30%,0.7);
}

article > p {
	text-align: center;
}

/*檔案櫃*/

h3 {
	padding-left: 5%;
}

/*隱藏*/

.edit {
	display: none;
}

	@media screen and (max-width: 480px) {
		.edit {
			display: none;
		}
	}


a {
	color: white;
	text-decoration: none;
}

footer {
	color: white;
	text-align: center;
	clear: both;
	margin-bottom: 0;
	background-color: #333856;
}

.youtubecontent{
position: relative;
padding-top: 30px; height: 0; overflow: hidden;
}
.youtubecontent{
padding-bottom: 56.25%;
}
.youtubecontent iframe,
.youtubecontent object,
.youtubecontent embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/*活動*/

.active {
	text-align: center;
}

	p > img {
		height: 50%;
		width: 20%;
	}

	@media screen and (min-width: 736px) {
		p > img {
			height: 100px;
			width: 100px;
		}
	}




/*影片*/

.videotitle {
	font-weight: bold;
	font-size: 20px;
	padding: 1%;
	text-align: left;
	margin: 3%;
	padding-right: 0; 
	width: 200px;
	border-bottom:3px solid rgba(50%,20%,20%,0.6);
	border-left:3px solid rgba(50%,20%,20%,0.6);
}

iframe { 
	margin-left: 10%;
}

/*線上寄信*/

form > div{
	padding: 3%;
}

form {
		margin-top: 5%;
		background-color: #333856;
	}

		form .field {
			margin: 5% 0 2em 0;
		}

			form .field.half {
				width: 50%;
				float: left;
				padding: 0 0 0 1em;
			}

				form .field.half.first {
					padding: 0 1em 0 0;
				}

		form > .actions {
			margin: 2.5em 0 0 0 !important;
		}

		@media screen and (max-width: 736px) {

			form .field {
				margin: 0 0 1.5em 0;
			}

				form .field.half {
					padding: 0 0 0 0.75em;
				}

					form .field.half.first {
						padding: 0 0.75em 0 0;
					}

			form > .actions {
				margin: 2em 0 0 0 !important;
			}

		}

		@media screen and (max-width: 480px) {

			form .field.half {
				width: 100%;
				float: none;
				padding: 0;
			}

				form .field.half.first {
					padding: 0;
				}

		}

	label {
		color: #ffffff;
		display: block;
		font-size: 0.8em;
		font-weight: 600;
		letter-spacing: 0.25em;
		margin: 0 0 1em 1em;
		text-transform: uppercase;
		margin-top: 3px;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: rgba(212, 212, 255, 0.035);
		border: none;
		border-radius: 0;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		margin: 0 1%;
		text-decoration: none;
		width: 95%;
	}

		/*input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		input[type="tel"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}
*/
		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		input[type="tel"]:focus,
		select:focus,
		textarea:focus {
			border-color: #9bf1ff;
			box-shadow: 0 0 0 2px #9bf1ff;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	}

	::-webkit-input-placeholder {
		color: rgba(244, 244, 255, 0.2) !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: rgba(244, 244, 255, 0.2) !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: rgba(244, 244, 255, 0.2) !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: rgba(244, 244, 255, 0.2) !important;
		opacity: 1.0;
	}

	.formerize-placeholder {
		color: rgba(244, 244, 255, 0.2) !important;
		opacity: 1.0;
	}

	input {
		color: #ffffff;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 17pt;
		font-weight: 300;
		letter-spacing: 0.025em;
		line-height: 1.65;
		background-color: #ffffff;
		box-shadow: none;
		color: #242943;
		margin-left: 1%;

	}
	
	input[type="submit"].special:hover, input[type="submit"].special:active {
		background-color: #9bf1ff;
		color: #242943 !important;
		transition: 0.5s;
	}


	input[type="submit"].special:active,
	button.special:active {
		background-color: #53e3fb;
	}