* {
	  -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding:0px;
	margin:0px
}

body {
	background-image: url("images/bg01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
	height: 100%;
	width: 100%;
	overflow: auto; 
}

header {
	background:hsla(240, 0%, 50%, 0.7);
	color: white;
	margin: 3%;
	border-radius: 5px;
	padding: 1%;
}

/*選單*/

.menu {
	height: 50px;
	width: 100%;
	background-image: -webkit-linear-gradient(#fff, #2d2d2d);
	background-image: -o-linear-gradient(#fff, #2d2d2d);
	background-image: linear-gradient(#666, #2d2d2d);
}

.menu li:first-child { 
	margin-left: 5px;
}

.clear { 
	clear: both;
}

div > ul {
	height: 100%;
	background-image: -webkit-linear-gradient(#fff, #2d2d2d);
	background-image: -o-linear-gradient(#fff, #2d2d2d);
	background-image: linear-gradient(#666, #2d2d2d);
	list-style-type: none;
}

div > ul > li {
	background-image: -webkit-linear-gradient(#fff, #2d2d2d);
	background-image: -o-linear-gradient(#fff, #2d2d2d);
	background-image: linear-gradient(#666, #2d2d2d);
	display: inline-block;
	float: left;
	height: 100%;
}

.menu a {
	padding-top: 15px;
	height: 100%;
	display: block;
	margin-left: 20px;
	color: #ddd;
	font-size: 90%;
	text-decoration: none;
}

.menu a:hover{
	transition: 0.2s;
	color: white;
	background:#3d3d3d;
	color:#ddd;
	border-top:2px solid #fff480;
}

/*===================*/
.content {
	overflow: auto;
	margin: 0 15% 3% 15%;
}

.main {
	display: inline-block;
}

#intro1 , #intro2 , #intro3 , .back{
	background: rgba(0%,20%,30%,0.6);
	color: white;
 	width: 20%;
  	height: 20%;
	margin: 5% 5% 10% 5%; 
}

#intro1:hover, #intro2:hover , #intro3:hover , .back:hover{
	transition: 0.5s;
	background: rgba(0%,20%,20%,0.4);
	box-shadow: 3px 3px 5px #333;
}

.back {
	text-align: center;
}

.center > a > section {
	padding: 15px;
	margin: 0 auto;
	text-align: center;
}

h3 {
	padding-left: 5%;
}

/*網路組介紹*/

#web ,#c ,#rpg ,#funintro ,#usefulintro ,#infors ,#videolist{
	padding: 1%;
	color: white;
	margin: 0 15% 3% 15%;
	background: rgba(0%,10%,30%,0.7);
}

article > p {
	text-align: center;
}

/*互動*/
.edit {
	display: none;
}


a {
	color: white;
	text-decoration: none;
}

.main h2 {
	text-align: center;
	margin: 50% auto;
}

footer{
	margin-top: 5%;
	color: white;
	text-align: center;
	clear: both;
	margin-bottom: 0;
}

.youtubecontent{
position: relative;
padding-top: 30px; height: 0; overflow: hidden;
}
.youtubecontent{
padding-bottom: 56.25%;
}
.youtubecontent iframe,
.youtubecontent object,
.youtubecontent embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/*=================*/
.active {
	text-align: center;
}
